{% extends 'base.html' %}
{% load static %}
{% block title %}Nueva Contraseña - PlanMyTrip{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
<div class="card">
    <div class="card-body">
        <h2 class="text-primary">Se ha enviado un correo de recuperación de contraseña</h2>
        <p>Revisa tu correo electrónico para seguir las instrucciones.</p>
        <a class="btn btn-info" href="http://localhost:8025/" target="_blank">Ver correo</a>
    </div>
</div>
</div>
{% endblock %}
