{% extends 'base.html' %}
{% load static %}
{% block title %}Nueva Contraseña - PlanMyTrip{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="text-primary text-center">Contraseña Restablecida Exitosamente</h2>
            <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <div class="text-center">
                <a class="btn btn-info" href="{% url 'moiraflow:login' %}">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}